.Central {
  display: flex;
  justify-content: center;
}
.NoDoubtPut {
  display: flex;
  justify-content: center;
}
.screenText {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.StayThere {
  margin-top: 3.25ex;
}